@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/normal";
@import "themes/red";

body {
  font: var(--font-m);
  color: var(--secondary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
  width: 100%;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px 20px 20px 40px;
  height: calc(100vh - var(--navbar-height));
  overflow-y: auto;
}
