.app_red_theme {
  --bg-color: #BA2517;
  --inverted-bg-color: #FBF4F4;

  --primary-color: #BA2589;
  --secondary-color: #BA3555;

  --inverted-primary-color: #BA2517;
  --inverted-secondary-color: #BA3317;

  //skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  //code
  --code-bg: #BA2517;

  //card
  --card-bg: #BA2517;
}
